<!DOCTYPE html>
<html lang="en">
<head>
	<title>e-consult@tions IGPN</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon -->
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">
	<!-- Bootstrap Css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<!-- Style Css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.css') }}">
	<!-- Owl Carousel Css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
	<!-- Style Css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<!-- Start Header Area -->
<div id="header" class="header-area">
	<div class="overlay-section">
		<div class="top-bar">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-xs-12">
						<div class="logo">
							<a href="/"><img src = '../static/images/IGPN.png'/></a>
							<div class = 'img-admin'><a href="/admin"><img src = '../static/images/engrenage.jpg'/></a></div>
							<div class = 'img-user'><img src = '../static/images/user.png'/></div>
							<a href="/user" class="btn-style-two btn-lg">Accès Utilisateur</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="banner-content container">
			<div class="inner-content">
				<h1>{{ Titre_Message }}</h1>
				<p>{% autoescape false %}
					{{ Message }}
					{% endautoescape %}
				</p>
			</div>
		</div>
	</div>
</div>
<!-- End Header Area -->
<!-- Start Choice Domain -->

<!-- Start Footer -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="footer-content text-center">
                    <a href="mailto://igpn-cadre@interieur.gouv.fr?subject=Demande_de_consultation" class = "col-md-12">Contact</a>
                    <a href="/aide" class="col-md-16">Aide</a>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- End Footer -->
</body>
</html>
