virtualenv
.git
**/__pycache__
*.odt
*.pdf
*.log
*.pyc
venv
.env
artifacts
Data
.mypy_cache
*.xlsx
*.tar.gz
# production
frontend/public/build
bundle.*
acme.json
nginx/apache2/*
esdata
.vscode
.history
IGA-BF
node_modules
