/* ----------------------------------------------------------------
    Start Basics
-----------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  list-style: none;
  word-wrap: break-word;
}

body {
  color: #000;
  line-height: 1.3;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden !important;
}

p {
  font-size: 15px;
  font-weight: 300;
  color: #7f7f7f;
  line-height: 1.6;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}


span, a, a:hover {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul, li, ol{
	margin: 0px;
	padding: 0px;
}

button:focus{
	outline: none !important;
}

body, html{
	width: 100%;
	height: 100%;
}

.overlay-section{
	background-image: url("../images/Fond e-consult.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	position: relative;
}

/* .overlay-section::before{
	background: rgba(0,0,0,0.7);
	position: absolute;
	content: "";
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
} */
.header-area{
	height: 100%;
}
.overlay-section{
	height: 100%;
}

.top-bar{
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 10;
	background: rgba(255,255,255);
	padding: 20px 0px;
	-webkit-transition: .3s ease 0s;
	-o-transition: .3s ease 0s;
	transition: .3s ease 0s;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.30);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.30);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.30);
}

.top-bar.fixed-menu{
	position: fixed;
	visibility: hidden;
	left: 0px;
	top: 0px;
	width: 100%;	
	background: #ffffff;
	z-index: 0;
	transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	z-index: 999;
	opacity: 1;
	visibility: visible;
	-ms-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-op-animation-name: fadeInDown;
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-ms-animation-duration: 500ms;
	-moz-animation-duration: 500ms;
	-op-animation-duration: 500ms;
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
	-ms-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-op-animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-ms-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-op-animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

.social-media-right{
	float: right;
}
.social-media-right li {
    display: inline-block;
    padding-left: 10px;
}
.social-media-right li a {
    color: #191f1d;
    display: block;
	font-size: 42px;
}
.social-media-right li a:hover{
	color: #ccd100;
}

.banner-content{
	position: relative;
	z-index: 2;
	display: table;
	min-height: 100%;
	height: 100%;
}

.modal.modal-scale.fade.show .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.modal.modal-scale.fade .modal-dialog {
    height: 100%;
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    transform-origin: center;
    margin: 0 auto;
    opacity: 0.1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}
.modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
}

.modal-content .modal-header{
	display: block !important;
}
.modal-header .close{
	position: absolute; 
	right: 0px;
	top: 0px;
	margin: 0;
}
.modal-header h5{
	display: block;
}

.form-control {
    width: 100%;
    margin-bottom: 10px;
    padding: 14px;
    border-color: #ccd100;
    border-radius: 0px;
    color: #ccd100;
	font-family: 'Rubik', sans-serif;
    background: transparent;
    font-size: 14px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.form-control:focus {
    box-shadow: none;
    color: #121212;
    border-color: #121212;
    background: transparent;
    outline: none;
}

.submit-button button{
	background: #ffffff;
}

.with-errors ul li{
	color: red;
}

.inner-content{ 
	margin-top: 0;
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	text-align: justify;
}
.inner-content h1{
	color: #ffffff;
	margin: 0px;	
	font-size: 45px;
	padding-bottom: 20px;
}
.inner-content h1 span{
	color: #ccd100;
	font-weight: 700;
	font-size: 58px;
}
.inner-content p{
	color: #ffffff;
	font-size: 20px;
	margin-bottom: 30px;
}

.btn-style-one{
	position :absolute;
	top : 2px;
	left : 500px;
	border: 2px solid #0d1fc7;
	text-transform: uppercase;
	color: #0d1fc7;
	padding: 11px 40px;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 16px;
}
.btn-style-one:hover{
	background: #0d1fc7;
	color: #ffffff;
}

.btn-style-two{
	position :absolute;
	top : 2px;
	left : 800px;
	border: 2px solid #0d1fc7;
	text-transform: uppercase;
	color: #0d1fc7;
	padding: 11px 40px;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 16px;
}
.btn-style-two:hover{
	background: #0d1fc7;
	color: #ffffff;
}


.title-bar{
	margin-bottom: 30px;
}

.title-bar h2{
	font-size: 30px;
}

.choice-domain{
	padding: 70px 0px;
}

.inner-box{
	padding: 20px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
	margin-bottom: 30px;
	transition: all 0.3s ease 0s;
}
.inner-box h2{
	font-size: 20px;
	font-weight: 400;
	margin: 0px;
}
.web-img{
	margin: 20px 0px;
	border: 1px solid #121212;
}
.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 0 7px;
    border-radius: 50%;
    background: #121212;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #ccd100;
}

.owl-carousel .owl-nav button.owl-prev{
	position: absolute;
	left: -10px;
	top: 50%;
	border: 2px solid #ccd100;
	text-transform: uppercase;
	color: #ccd100;
	padding: 11px 5px !important;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 16px;
}

.owl-carousel .owl-nav button.owl-next{
	position: absolute;
	right: -10px;
	top: 50%;
	border: 2px solid #ccd100;
	text-transform: uppercase;
	color: #ccd100;
	padding: 11px 5px !important;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 16px;
}

.owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover{
	background: #ccd100;
	color: #121212;
	border: 2px solid #ccd100;
}

.domain-for-sale-box{
	padding: 70px 0px;
}

.dom-list{
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
	background: #ffffff;
	margin-bottom: 30px;
	padding: 10px;
	text-align: center;
}
.dom-list h6{
	padding: 10px 0px;
	margin: 0px;
}

.domain-sd{
	padding: 70px 0px;
	background: #f2f2f2;
}
.sd-inner-box{
	position: relative;
}
.sd-inner-box p{
	color: #ccd100;
	font-size: 28px;
	font-weight: 600;
}
.sd-inner-box h3{
	font-weight: 400;
	text-transform: capitalize;
	font-size: 22px;
}

footer{
	background: #111111;
	padding: 70px 0px;
}
.footer-content a{
	font-size: 38px;
	font-weight: 600;
	color: #f8f9fa;
}
.footer-content a span{
	color: #ffffff;
}
.footer-content li a {
    color: #ffffff;
    font-size: 22px;
    margin: 15px 15px;
}
.footer-content li a:hover {
	color: #ccd100;
}

.footer-content p{
	font-size: 14px;
}

p.footer-company-name a{
	color: #ffffff;
	font-size: 14px;
	font-weight: 300;
}
p.footer-company-name a:hover{
	color: #ccd100;
}

.img-admin{
	width: 12%;
	position : absolute;
	top : 3px;
	left : 1200px;
}

.img-user{
	width: 10%;
	position : absolute;
	top : 3px;
	left : 745px;
}

/* Responsive Css */

@media (min-width: 768px) and (max-width: 991px) {
	.domain-sd{
		text-align: center;
	}
	.inner-content h1{
		font-size: 24px;
	}
	.inner-content h1 span{
		font-size: 26px;
	}
	.inner-content p{
		font-size: 13px;
	}
	.btn-style-one{
		/* position : absolute;
		transition: .5s ease;
		top : 0%;
		right : 100%; */
		font-size: 13px;
		padding: 11px 18px;
	}
	.title-bar h2{
		font-size: 24px;
	}
	.logo{
		margin-bottom: 15px;
	}
}
@media (max-width: 767px) {
	.top-bar{
		position: relative;
	}
	.domain-sd{
		text-align: center;
	}
	.inner-content h1{
		font-size: 24px;
	}
	.inner-content h1 span{
		font-size: 26px;
	}
	.inner-content p{
		font-size: 13px;
	}
	.btn-style-one{
		font-size: 13px;
		padding: 11px 18px;
	}
	.title-bar h2{
		font-size: 24px;
	}
	.social-media-right li a{
		font-size: 22px;
	}
	.social-media-right{
		float: none;
		text-align: center;
	}
	.logo{
		margin-bottom: 15px;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
}






























