img {
    width: 6%;
    height: auto;
  }

#Filtres {
    display: flex;
    justify-content: center;
}

#Auteur {
    width : 500px
}

#Ajouter-des-acronymes{
    width : 97%;
    margin : 0 auto;
}
#Changement-glossaire{
    width : 97%;
    margin : 0 auto;
}

#Chargement-rapport {
    width : 97%;
    margin : 0 auto;
}

#Chargement-pj {
    width : 97%;
    margin : 0 auto;
}

#Markdown-Date{
    margin-top : 10px
}
#Markdown-Auteur{
    margin-top : 10px
}
#upload-data{
    margin-top : 20px;
    margin-bottom : 20px;

}
#Supression-rapport{
    width : 97%;
    margin : 0 auto;
}

#Supression-pj{
    width : 97%;
    margin : 0 auto;
}
#Changement-message-accueil {
    width : 97%;
    margin : 0 auto;
}
#Message_d\'accueil {
    width : 80%;
}
#sauvegarder_et_appliquer{
    width : 17%;
    margin : 0 auto;
}